* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /*background: #f6f2ff;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
}

header {
    width: 150px;
    margin: auto;
}

header img {
    width: 150px;
    position: absolute;
    left: 2%;
    top: 0;
    /*left: 1rem;
    top: 0rem;*/
    transition: all .50s ease;
}

.container {
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

    .container .card {
        position: relative;
        padding: 8px;
        height: 100%;
        /*height: 220px;*/
        width: 180px;
        background-color: #fff;
        margin: 5px;
        /*border: 2px solid black;*/
        border-radius: 15px;
        overflow: hidden;
        transition: 0.5s;
        text-align: center;
        /*border: none;*/
    }
        
        .container header a {
            margin: 1rem;
        }

        .container .card img {
            transition: 0.5s;
            padding-bottom: 2px;
        }

        .container .card h1 {
            font-size: 1.2rem;
        }

        .container .card .content {
            padding: 2px;
            text-align: center;
        }

            .container .card .content p {
                color: #666;
                transition: 0.5s;
                display: inline-block;
            }

            /* Button */
            .container .card .content a {
                width: 23%;
                position: relative;
                display: inline-block;
                background-color: #000;
                color: #fff;
                border-radius: 20px;
                text-decoration: none;
                font-size: 20px;
                transition: 0.5s;
                outline: none;
                margin-bottom: 10px;
                margin: 0 3px;
            }

        .container .card .content a .minus {
            /*padding: 1px 1px 4px 1px;*/
            padding: 1px;
        }

        .container .card:hover {
            background-color: mediumpurple;
            color: white;
            margin-top: -2px;
            box-shadow: 2px 20px 25px mediumpurple;
            border-color: mediumpurple;
            opacity: 0.7;
        }

            .container .card:hover img {
                filter: contrast(1.2);
            }

            .container .card:hover .botaoEditar {
                filter: invert(1);
            }

            .container .card:hover .content p {
                color: white;
            }

            .container .card:hover .content a {
                color: black;
                background-color: white;
            }

.botaoEditar {
    width: 25%;
}

.botaoDeletar {
    width: 35%;
}

.box {
    background-color: white;
    border-radius: 15px;
}

.lendario {
    border-top: 20px solid yellow;
    border-color: 5px solid black;
}

.epico {
    border-top: 20px solid #ff00e4;
}

.raro {
    border-top: 20px solid blue;
}

.comum {
    border-top: 20px solid green;
}

.etiqueta {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    transform: rotate(225deg);
    position: absolute;
    right: 1px;
}

.erro {
    color: red;
}

/* opcional */
/*.fundoEtiqueta {
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
    transform: rotate(225deg);
    position: absolute;
    right: 1px;
}*/


.button-1 {
    display: block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
    padding: 1rem;
    border-radius: 12px;
    color: #fff;
    background: #6200ee;
    line-height: 1.25;
    font-size: 14px;
    width: 2rem;
    height: 50px;
    word-spacing: 1px;
    letter-spacing: .0092857143em;
    text-decoration: none;
    min-width: 140px;
    border: none;
    text-align: center;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus, input:active, .form-control {
    border-color: purple !important;
    outline: purple !important;
    box-shadow: red;
}

.button-1:hover
{
    color: white;
    background: rgb(98, 0, 238);
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.button {
    pointer-events: auto;
    cursor: pointer;
    background: #6200ee;
    border: none;
    padding: 1rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
}

    .button::before,
    .button::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.button--pan {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 700;
    border-radius: 3rem;
    overflow: hidden;
    color: #fff;
}

    .button--pan span {
        position: relative;
    }

    .button--pan::before {
        content: '';
        background: #000;
        transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    }

    .button--pan:hover::before {
        transform: translate3d(0,-100%,0);
    }

.button--bestia {
    font-family: freight-display-pro, serif;
    font-size: 1rem;
    color: #fff;
    background: none;
    padding: 3px 0 10px 0;
    width: 157px;
}

    .button--bestia .button__bg {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 4rem;
        background: #6200ee;
        border-radius: 0.85rem;
        overflow: hidden;
        transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
    }

    .button--bestia:hover .button__bg {
        transform: scale3d(1.2,1.2,1);
    }

    .button--bestia .button__bg::before,
    .button--bestia .button__bg::after {
        content: '';
        position: absolute;
        background: #000;
    }

    .button--bestia .button__bg::before {
        width: 110%;
        height: 100%;
        padding-bottom: 110%;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
    }

    .button--bestia:hover .button__bg::before {
        transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
        transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
    }

    .button--bestia .button__bg::after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .button--bestia:hover .button__bg::after {
        opacity: 1;
        transition-duration: 0.01s;
        transition-delay: 0.3s;
    }

    .button--bestia span {
        display: block;
        position: relative;
        padding: 0.3rem 2rem;
    }

@media (max-width: 700px) {
    header img {
        width: 80px;
        position: absolute;
        left: 2%;
        top: 0;
        transition: all .50s ease;
    }


}