* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
}

.container {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

    .container .card {
        position: relative;
        padding: 10px;
        height: 100%;
        /*height: 220px;*/
        width: 180px;
        background-color: #fff;
        margin: 5px;
        /*border: 2px solid black;*/
        border-radius: 15px;
        overflow: hidden;
        transition: 0.5s;
        text-align: center;
        /*border: none;*/
    }

        .container .card img {
            transition: 0.5s;
            padding-bottom: 2px;
        }

        .container .card h1 {
            font-size: 1.2rem;
        }

        .container .card .content {
            padding: 2px;
            text-align: center;
        }

            .container .card .content p {
                color: #666;
                transition: 0.5s;
                display: inline-block;
            }

            /* Button */
            .container .card .content a {
                width: 23%;
                position: relative;
                display: inline-block;
                background-color: #000;
                color: #fff;
                border-radius: 20px;
                text-decoration: none;
                font-size: 20px;
                transition: 0.5s;
                outline: none;
                margin-bottom: 10px;
                margin: 0 3px;
            }

        .container .card .content a .minus {
            /*padding: 1px 1px 4px 1px;*/
            padding: 1px;
        }

        .container .card:hover {
            background-color: mediumpurple;
            color: white;
            margin-top: -2px;
            box-shadow: 2px 20px 25px mediumpurple;
            border-color: mediumpurple;
            opacity: 0.7;
        }

            .container .card:hover img {
                filter: invert(1);
            }

            .container .card:hover .content p {
                color: white;
            }

            .container .card:hover .content a {
                color: black;
                background-color: white;
            }

.botaoEditar {
    width: 25%;
}

.botaoDeletar {
    width: 35%;
}

header {
    width: 150px;
    margin: auto;
}

.box {
    background-color: white;
    border-radius: 15px;
}

.lendario {
    border-top: 20px solid yellow;
    border-color: 5px solid black;
}

.epico {
    border-top: 20px solid #ff00e4;
}

.raro {
    border-top: 20px solid blue;
}

.comum {
    border-top: 20px solid green;
}

.etiqueta {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    transform: rotate(225deg);
    position: absolute;
    right: 1px;
}

.erro {
    color: red;
}

/* opcional */
/*.fundoEtiqueta {
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
    transform: rotate(225deg);
    position: absolute;
    right: 1px;
}*/


/*
.button-6 {
    background: var(--btn-bg-color-hover);
    font-weight: 700;
    padding: 0;
    border-radius: 5px;
}

    .button-6 span {
        display: block;
        background: var(--btn-bg-color);
        padding: 1.5rem 2rem;
        border: 1px solid #000;
        border-radius: 5px;
        transform: translate3d(-4px, -4px, 0);
        transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    }

    .button-6:hover span {
        transform: translate3d(-8px, -8px, 0);
    }
    */