@model List<Item>
@{
    bool mostrarEditar = ViewData["MostrarEditar"] != null && (bool)ViewData["MostrarEditar"];
}

<form asp-action="AtivarEditar" method="post">
    <button type="submit">
        @(mostrarEditar ? "Desativar Edição" : "Ativar Edição")
    </button>
</form>

<div class="container">

    @foreach (var item in Model){
    <div class="card">
        <div class="img">
                <img src="/itens/@item.ImageFileName" width="60">
        </div>
        <h1>@item.Nome</h1>
        <div class="content">
            <p>
                R$ @item.Preco 
            </p>
            <div class="display">
                <a class="minus" href="#">-</a>
                <p>@item.Quantidade</p>
                <a href="#">+</a>
            </div>
                @if (mostrarEditar)
                {
                    <a href="/Itens/Edit/@item.Id" class="btn btn-warning">Editar</a>
                }
        </div>
    </div>
    }
</div>